.container{
	background-color: white;
}
.title h1 {
	text-align: center;

}
.text{
	font-family: sans-serif;
}
.genders{
	font-family: sans-serif;

}
.Select{
	font-family: sans-serif;
}
.bdayinfo{
	font-family: sans-serif;
}
